# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
#dist/
node_modules/
public/uploads/
tmp/
temp/
hooks/
platforms/
plugins/
package-lock.json
plugins/android.json
plugins/ios.json
www/
socket-server/Pixstagam-ssl/
socket-server/node_modules/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
config.js
serviceAccountKey.json
socket-server/config.json
dist/